body {
    background-color: blueviolet;  
}

body > h1 {
    text-align: center;
    color: salmon;
}

.unorderlist {
    background-color: red;

}

.orderlist {
    background-color: seagreen;
    width: 600px;
    margin-left: 300px;
}

img {
    width: 200px;
}